.git
.github
_site
.jekyll-cache
.jekyll-metadata
.sass-cache
node_modules
vendor/bundle
.bundle
*.gem
Gemfile.lock
package-lock.json
.DS_Store
*.sw[p_]
*.idea
*.sublime-project
*.sublime-workspace
docs/
test/
k8s/
website.yaml