.small-text {
  font-size: 0.30em;
  font-style: italic;
}

.not-bold {
  font-weight: normal;
  font-size: 0.6em;
}

.separator {
  margin-right: 0.2em;
}

.author__bio {
  margin-top: -5px !important;
}

.author__bio-extra {
  font-size: 0.8em; /* Smaller font size for bio-extra */
  color: #a39f9f; /* Lighter color for differentiation */
  margin-top: -20px; /* Small margin for spacing */
}

/* Default styles for larger screens */
.author__avatar {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 5px;
  display: block;
}

.author-profile {
  text-align: center;
}

/* Media queries */
@media screen and (min-width: 1280px) {
  .author-profile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }

  .author__avatar {
    width: 120px;
    height: 120px;
    margin-left: 30px;
    margin-right: 120px;
    float: left;
  }

  .author__name, .author__bio, .author__degrees {
    text-align: left;
    margin: 0;
  }
}

@media screen and (max-width: 1023px) {
  .author__avatar {
    width: 50px;
    height: 50px;
    float: left;
    margin-left: 0px;
    margin-top: 12px;
  }

  .author-profile {
    text-align: left;
    display: block;
  }

  .author__name {
    display: block;
    text-align: left;
    margin: 0;
  }

  .author__bio {
    margin-top: -10px !important;
  }
}

@media screen and (max-width: 767px) {
  .author__avatar {
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 0px;
    margin-bottom: 0;
  }

  .author-profile {
    text-align: left;
    display: block;
  }

  .author__name {
    display: block;
    text-align: left;
    margin: 0;
  }

  .author__bio {
    margin-top: -10px !important;
  }
}

/* Certification Badge */
.footer-badge {
  float: right;
  margin: -5px;
  padding: -5px;
}

.certification-badge-link {
  margin: 0;
  padding: 0;
}

.certification-badge {
  width: 100px;
  height: auto;
  margin: -5px;
  padding: -5px;
}

/* Media query for screens wider than 1280px (wide) */
@media screen and (min-width: 1280px) {
  .certification-badge {
    width: 110px;
    margin: -10px;
    padding: -10px;
  }
}

/* Media query for screens between 1024px and 1279px (normal) */
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .certification-badge {
    width: 100px;
    margin: -10px;
    padding: -10px;
  }
}

/* Media query for screens between 768px and 1023px (medium) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .certification-badge {
    width: 80px;
  }
}

/* Media query for screens less than 768px (short) */
@media screen and (max-width: 767px) {
  .certification-badge {
    width: 70px;
  }
}

/* Tooltip Styles */
.qualification .info-icon {
  display: inline-block;
  margin-left: 5px;
  cursor: pointer;
  position: relative;
  font-style: normal;
  font-size: 0.7em;
}

.qualification .info-icon:hover .tooltip {
  display: block;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-left: 5px; /* Add a small margin to create space between text and icon */
}

.tooltip.info-icon img {
  vertical-align: middle; /* Aligns the image with the middle of the text */
  margin-top: -5px; /* Adjust the value as needed to nudge the icon higher */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 180px; /* Adjust the width as needed */
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 7px 3px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position the tooltip above the text */
  left: 50%;
  transform: translateX(-50%); /* Center the tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%; /* Arrow at the bottom of the tooltip */
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.info-icon img {
  vertical-align: middle; /* Align the icon vertically with the text */
  width: 16px;
  height: 16px;
}

